# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# MLflow
mlruns/

# Outputs
outputs/
videos/

# Model checkpoints
*.pt
*.pth

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Docker
*.log